@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  @apply text-slate-300 bg-secondary;
}

body {
  font-family: "Rubik", sans-serif;
  background: rgba(14, 22, 42, 1);
  @apply text-slate-300;
}

ul li::before {
  content: "▹";
  position: absolute;
  @apply text-accent -ml-3;
}

li {
  @apply flex px-2
}

section {
  @apply space-y-20 px-2 m-auto
}